<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>

		<Logger name="com.devopstools.application" level="trace" />
		
		<Logger name="org.springframework.web.servlet" level="warn" />
		<Logger name="org.springframework.web.context" level="warn" />
	
		<Logger name="org.thymeleaf" level="debug" />
		<Logger name="org.thymeleaf.TemplateEngine" level="debug" />
		<Logger name="org.thymeleaf.TemplateEngine.CONFIG"
			level="WARN" />
		<Logger name="org.thymeleaf.TemplateEngine.TIMER" level="warn" />
		<Logger
			name="org.thymeleaf.TemplateEngine.cache.TEMPLATE_CACHE"
			level="warn" />
		<Logger
			name="org.thymeleaf.TemplateEngine.cache.FRAGMENT_CACHE"
			level="warn" />
		<Logger name="org.thymeleaf.TemplateEngine.cache.MESSAGE_CACHE"
			level="warn" />
		<Logger
			name="org.thymeleaf.TemplateEngine.cache.EXPRESSION_CACHE"
			level="warn" />
		

	</Loggers>
</Configuration>